@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&family=Roboto+Slab&display=swap');

.article-main{
  font-size: 18px;
  line-height: 2em;
}

.article-main p{
  margin-bottom: 2em;
}

.titlefont {
  font-family: 'EB Garamond', serif;
}

.serif-font {
  font-family: 'EB Garamond', serif;
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  padding-top: 54px;
}

ul {
  list-style-type: square;
}

.jumbotron {
  color: white;
}

/* Large desktop */
@media (min-width: 1200px) {
  .vanish-mobile {
    display: auto;
  }

  .vertical-scroll {
    height: 100vh;
    overflow: auto;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 770px) and (max-width: 1199px) {
  .vanish-mobile {
    display: auto;
  }

  .vertical-scroll {
    height: 100vh;
    overflow: auto;
  }
}

/* Phone to portrait tablet */
@media (min-width: 50px) and (max-width: 769px) {
  .acadhead {
    font-size: 48px !important;
  }

  .vanish-mobile {
    display: none !important;
  }
}